<div class="container">
    <h1 class="mb-2"><%= post.title %></h1>
    <div class="text-muted mb-2">
        <%= post.publishDate.toISOString().split('T')[0] %>
    </div>
    <div class="mb-2"><%= post.description %></div>

    <div id="img-container" style="width: 200px">
        <img style="width: 200px" src="<%= post.pictureImagePath %>" />
    <div>
    <script>
        var options = {
            width: 300,
            zoomWidth: 400,
            offset: {vertical: 0, horizontal: 10}
        };
        new ImageZoom(document.getElementById("img-container"), options);
    </script>

    <div class="mt-2">
        <a href="/posts" class="btn btn-secondary">All Posts</a>
        <a href="/posts/edit/<%= post.slug %>" class="btn btn-info">Edit</a>
    </div>
</div>